* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :focus-visible {
    outline: 1px solid #bd8200;
  }

  
  body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    font-size: 15px;
    color: #b9b9b9;
    background-color: #e3e3e3;
  }
  
  .App{
    display: flex;
    width: 75%;
    justify-content:  center;
    margin: 0em auto;
    flex-direction: column;
    background-color: #fff;
    padding: 1em 3em 2em 3em;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  }

  .App > .formTitle > div{
    width: auto;
    float: left;
  }

  .textTitle{
    margin: 0;
    padding-top: 10px;
    margin-left: 10px;
  }

  .iconForm{
    width: 60px;
    float: left;
    display: block;
  }

  .iconForm > svg{
    height: 60px;
  }